body {
    font-family: 'Sen', sans-serif;
    font-size: 17px;
    box-sizing: border-box;
}

.navbar-brand img {
    width: 150px;

}

.nav-item {
    font-family: 'Bebas Neue', cursive;
    background-color: #9e9719;
    border-radius: 10px;
    margin: 0px 6px;
    transition: background-color 0.5s ;
}

.item-transicion:hover {
    transform: scale(1.1);
    background-color: #918901;
}

.dropdown-item {
    font-family: 'Sen', sans-serif;
    text-align: start;
}





/* .bar-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;

}

header {
    background-color: #422b0a;

}


.logo {
    height: auto;
    width: 140px;
    margin: 0px 50px;
}


.nav-container {
    position: relative;
    margin: 0;

}

.nav-container a {
    padding: 10px;
    margin: 0px 10px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.5s;
    background-color: rgb(219, 223, 0);
    border-radius: 5px;
    
}


.facebook:hover {
    padding: 15px;
    background-color: #efefef;
    

    
}

.instagram:hover {
    padding: 15px;
    background-color: #efefef;
    
}

.whatsapp:hover {
    padding: 15px;
    background-color: #efefef;
    
} */

/* El slider comienza aqui */

.container-slider{
    width: 90%;
    max-width: 990px;
    margin: 40px auto;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
}

/* MENU CATEGORIES */

.menu-categories {
    margin: 60px 0px;
}

.col {
    margin: 30px 0px;
    text-align: center;
    display: flex;
}

.col a {
    background-color: #918901;
    border: 1px solid #fff;
}


.card-body {
    background-color: rgb(217, 237, 255);
}

.card-title {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}


/* FOOTER */

.pie-pagina {
    width: 100%;
    background: #d1ca29;
}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0 ;

}

.box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box figure img {
    width: 200px;

}

.box h2 {
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
}

.box p {
    color: #efefef;
    margin-bottom: 10px;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #9e9719;
    text-align: center;
    transition: all 300ms ease ;

}

.red-social a:hover {
    color: greenyellow;
}

.grupo-2 {
    background-color: #918901;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 840px){

    .nav-item {
        font-family: 'Bebas Neue', cursive;
        background-color: transparent;
        border-radius: 10px;
        margin: 0px 0px;
    }

    .item-transicion:hover {
        transform: none;
        background-color: #918901;
    }

    .bar-container {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        height: auto;
        width: 60px;
        transition: transform 1s;
        margin: 0;
        top: 10px;

    }
    
    .nav-container a {
        padding: 5px;
        margin: 0px 4px;
        color: #fff;
        text-decoration: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 8px;
        transition: all 0.5s;
        background-color: rgb(219, 223, 0);
        border-radius: 4px;
    }


     .facebook:hover {
    padding: 6px;
    }

     .instagram:hover {
    padding: 6px;
    
    }

     .whatsapp:hover {
    padding: 6px;
    
    }


     .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0 ;
    
    }

    .container-slider{
        width: 95%;
        max-width: 900px;
        margin: 10px auto;
        box-shadow: 0 0 0 0px,
                    0 0px 0px;
    }


}